*{
    margin:0
}
h1{
    background-color: aquamarine;
}

#par1{
    background-color: darkblue;
    width: 250px;
    margin: 20px
}
#par2{
    background-color: brown;
}
.container{
    margin : 20px;
}